<div class="page-info">
<div class="container-info">
<img src="/images/logo.png" class="logo-login" alt="">
<img src="/images/tagline.png" class="tagline-login" alt="">
<span class="page-title">Welcome to TLE's Story App!</span>
<span class="title-description">An online space for parents of children that wear artificial eyes. Share your child's story, read other stories and connect with the greater community. </span>
<a href="/apply" class="btn btn-dark btn-block" role="button">APPLY FOR MEMBERSHIP</a>
<a href="/login" class="btn btn-dark btn-block" role="button">LOGIN TO ACCOUNT</a>
<p class="p-sm"><a href="http://www.laurenseyes.com">TLE Main Website</a></p>
</div>

</div>
