<div>
    <h1>Welcome to the Story Portal!</h1>
    <h2>An online safe-space for parents of children that wear artificial eyes. Share your story, read other stories and connect with one another! </h2>
</div>

<div>
<img src="images/logo" class="logo" alt="">
<button>APPLY FOR MEMBERSHIP</button>
<button>LOGIN TO ACCOUNT</button>
</div>
