
<form action="/stories/create" method="POST">
    
<div>

<div class="q-and-a">
<label for=""><h4>Tell us about your child's eye condition and need for artificial eyes: </h4></label>
<input type="text" name="question1" class="input">
</div>

<div class="q-and-a">
<label for=""><h4>How has your experience been with medical eye care: pediatric opthamologists, neonatal surgeons, oculoplastic surgeons, ocularists, etc?</h4></label>
<input type="text" name="question2" class="input">
</div>

<div class="q-and-a">
<label for=""><h4>What challenges has your child's eye condition encouraged your family to face?</h4></label>
<input type="text" name="question3" class="input">
</div>

<div class="q-and-a">
<label for=""><h4>What has it been like to socialize your child? Difficulties? Success stories?</h4></label>
<input type="text" rows="5" name="question4" class="input">
</div>

<div class="q-and-a">
<label for=""><h4>Is your child in school? What has that experience been like?</h4></label>
<input type="text" name="question5" class="input">
</div>

<div class="q-and-a">
<label for=""><h4>Share a funny/silly/quirky artificial eye story (we all have them!)</h4></label>
<input type="text" name="question6" class="input">
</div>

<div class="q-and-a">
<label for=""><h4>Did your child undergo eye surgery? If so, what was that experience like? If not, why not? Was there a non-surgical alternative to treatment?</h4></label>
<input type="text" name="question7" class="input">
</div>

<div class="q-and-a">
<label for=""><h4>Have you or your child met other children and parents that are using artificial eyes?</h4></label>
<input type="text" name="question8"  class="input">
</div>

<div class="q-and-a">
<label for=""><h4>If you can, please share a message to new parents of children needing artificial eyes. What advice could you give them? What do you wish you knew back then, when your child was first diagnosed?</h4></label>
<input type="text" name="question9" class="input">
</div>

<div class="q-and-a">
<label for=""><h4>Have we missed any part of your story? Please feel free to share anything else in the space below:</h4></label>
<input type="text" name="question10" class="input">
</div>

<button class="btn btn-dark">Submit Story</button>

</div>

</form>