body {
  padding: 50px;
  font-size: 12px;
  font-family: "Open Sans";
  background-color: #DCDCDD;
  color: #46494C;
}

h2 {
  color: #46494C;
  font-family: "Open Sans";
  font-weight: bold;
}
a {
  color: #00B7FF;
}

.page-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px 0px 30px 0px;
}

.title-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.page-title {
  font-family: 'Catamaran', sans-serif;
  font-size: 22px;
  // text-transform: uppercase;
  // font-weight: bold;
  color: #1C2541;
  margin: 25px 0px 5px 0px;
}

.section-title{
  text-align: center;
  margin: 10px 0px 15px 0px;
}


.title-description {
  font-size: 16px;
  // font-weight: bold;
  color: #7b7a7b;
  text-align: justify;
  margin:15px 0px 25px 0px;
}

.page-description {
  font-size: 14px;
  // font-weight: bold;
  color: #7b7a7b;
  text-align: justify;
  // margin:15px 0px 25px 0px;
}

.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 30px 55px 30px 55px;
  border-radius: 15px;
  filter: drop-shadow(0 0 30px #B4B2B4);
  width: 475px;
  margin: 25px;
}

.story-container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 30px 55px 30px 55px;
  border-radius: 15px;
  filter: drop-shadow(0 0 30px #B4B2B4);
  width: 775px;
  margin: 25px;
}

.account-container-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 30px 55px 30px 55px;
  border-radius: 15px;
  filter: drop-shadow(0 0 30px #B4B2B4);
  width: 350px;
  margin: 15px;
}

.story-container-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 30px 55px 30px 55px;
  border-radius: 15px;
  filter: drop-shadow(0 0 30px #B4B2B4);
  width: 400px;
  margin: 25px;
}


.btn {
  margin: 15px 0px 15px 0px;
  padding: 15px;
  color: white;
  background-color: #2D2F31;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.btn-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.btn-link:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.btn-link:active {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  width: 170px;
  margin: 30px 30px 5px 30px;
}

.tagline {
  display: flex;
  justify-content: center;
  width: 190px;
}

.logo-login {
  text-align: center;
  width: 170px;
  margin: 30px 30px 5px 30px;
}

.tagline-login {
  width: 190px;
}

.q-and-a {
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  margin: 15px;
}

.login-input {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  padding: 5px;
  font-size: 13px;
  background-color: #EFEFEF;
  border-radius: 5px;
  // filter: drop-shadow(0 0 30px #B4B2B4);
  width: 320px;
}

.login-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}

.label {
  margin: 0px 10px 0px 0px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #7b7a7b;
}

.label-full {
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
  color: #7b7a7b;
}

.label-story-full {
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  color: #7b7a7b;
}

.form-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 0px 25px 0px 25px;
  margin: 25px;
}

.p-sm {
  font-size: 14px;
  color: #7b7a7b;
  font-weight: lighter;
  margin: 10px;
}

.login-column{
  display: flex;
  flex-direction: column;
  justify-content: left;

}

.story-column{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 15px 0px 15px 0px;

}

.apply-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 35px 0px 35px 0px;
}

.apply-input {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  padding: 5px;
  font-size: 13px;
  background-color: #EFEFEF;
  border-radius: 5px;
  width: 320px;
  border-color: none;
}

.apply-textarea{
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  padding: 5px;
  font-size: 13px;
  background-color: #EFEFEF;
  border-radius: 5px;
  border-style: none;
  box-shadow: inset 0 0 5px grey;
  width: 320px;
}

.story-textarea{
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  padding: 5px;
  font-size: 13px;
  background-color: #EFEFEF;
  border-radius: 5px;
  border-style: none;
  box-shadow: inset 0 0 5px grey;
}

.story-textarea-flat{
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  padding: 10px;
  font-size: 13px;
  background-color: #EFEFEF;
  border-radius: 5px;
  border-style: none;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin: 0;
}

.box {
  margin: 0px 15px 0px 0px;

}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;
}

// .foot-bar {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   position: fixed;
//   padding: 25px;
//   height: 35px;
//   width: 100%;
//   box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
//   // top: 0;
//   left: 0;
//   // z-index: 0;
//   background-color: #23262d;
// }

// .nav-link-foot{

//   color: white;
//   text-align: right;
// }

.page-content{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  margin: 25px;
}

.story-page-content{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  margin: 25px;
}


.logo-inner {
  display: flex;
  height: 25px;
}

.tagline-inner {
  display: flex;
  height: 25px;
}

.nav-logos {
  display: flex;
  flex-direction: row;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-link{
  margin: 0px 10px 0px 10px;
}

.welcome {
  color: #7f5eda;
  font-weight: bold;
  font-size: 30px;
  margin: 0px 5px 5px 5px;
}

.title-bar {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

.account-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: #7f5eda;
  margin: 35px;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  background-image: url("/images/avatar.png");
  background-size: contain;
  overflow: hidden;
}

.story-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}