<h1>Apply</h1>

{{#if errorMessage}}
    {{errorMessage}}
{{/if}}

<form action="/apply" method="POST">

    <label for="">Full Name: </label>
    <input type="text" name="parentName" placeholder="John Doe" class="input">

    <label for="">Email Address: </label>
    <input type="email" name="emailAddress" placeholder="johndoe@example.com" class="input">

    <label for="">Child's Name: </label>
    <input type="text" name="childName" placeholder="Susan Doe" class="input">

    <label for="">Child's Eye Condition: </label>
    <input type="text" name="childCondition" placeholder="Microphthalmia" class="input">

    <label for="">Why do you want to join this group? </label>
    <input type="text" name="parentReason" placeholder="My child has micropthalmia of the left eye, and wears a prosthetic. We are looking to connect with other parents who are experiencing..." class="input">

    <button>Apply</button>

</form>

