<div>
    <h1>Thank you for your application! Our moderators will review your information, and once approved, you will recieve an email with a sign up link. If you have any questions, please reach out to admin@eyesapp.com. Have a great day! </h1>
<a href="/"><button>BACK TO HOMEPAGE</button></a>
</div>