<div class="page-info">
<div class="container-info">
<img src="images/logo.png" class="logo" alt="">
<img src="images/tagline.png" class="tagline" alt="">

<form action="/apply" method="POST" class="apply-container">
<div class="login-column">
<span class="title-description">Thank you for your application! Our moderators will review your information, and once approved, you will recieve an email with a sign up link. If you have any questions, please reach out to admin@eyesapp.com. Have a great day!</span>
</div>
<p class="p-sm"><a href="/">Back to Home</a></p>
</div>
</form>
</div>