
<div class="nav-bar">
    <div class="nav-logos">
<img src="/images/logo.png" class="logo-inner" alt="">
<img src="/images/tagline.png" class="tagline-inner" alt="">
    </div>
    <div class="nav-links">
<a href="http://www.laurenseyes.com" class="btn-link nav-link" style="text-decoration: none">TLE Home </a>
<a href="/stories" class="btn-link nav-link" style="text-decoration: none">Stories </a>
<a href="/users" class="btn-link nav-link" style="text-decoration: none">Dashboard </a>
<a href="/logout" class="btn-link nav-link" style="text-decoration: none">Logout </a>
</div>
</div>

<div class="title-bar">
    <h2>Welcome back,</h2><span class="welcome"> {{theUser.parentName}} </span><h2>!</h2>
</div>

<div class="page-content">
<div class="account-container-info">
<div class="account-info">
    
    <div class="section-title">
    <div class="account-icon">
    <i class="fas fa-key"></i>
    </div>
    <span class="page-title">See Account Details</span>
    </div>
    <span class="page-description">Manage content, upload media and update login credentials.</span>
    <a href="/users/account" class="btn-link" style="text-decoration: none"><button class="btn btn-dark btn-block">GO TO ACCOUNT</button></a>
</div>
</div>

<div class="account-container-info">
<div class="account-info">
    <div class="account-icon">
    <i class="fas fa-users"></i>
    </div>
    <div class="section-title">
    <span class="page-title">View All Stories</span>
    </div>
    <span class="page-description">Read other eye stories and connect with the greater community.</span>
     <a href="/stories/" class="btn-link" style="text-decoration: none"><button class="btn btn-dark btn-block">GO TO STORIES</button></a>
</div>
</div>

<div class="account-container-info">
<div class="account-info">
    <div class="account-icon">
    <i class="fas fa-user"></i>
    </div>
    <div class="section-title">
    <span class="page-title">Share Your Story</span>
    </div>
    <span class="page-description">Share about your family's experience with artificial eyes.</span>
    
    {{#if hasStory}}
       <a href="/stories/edit/{{theStory._id}}" class="btn-link" style="text-decoration: none"> <button class="btn btn-dark btn-block"> EDIT STORY</button> </a>
    {{else }}
         <a href="/stories/create" class="btn-link" style="text-decoration: none"><button class="btn btn-dark btn-block">CREATE STORY</button> </a>
    {{/if }}
</div>
</div>
</div>

{{!-- <div class="foot-bar">
<div class="nav-links">
<a href="http://www.laurenseyes.com" class="btn-link nav-link-foot" style="text-decoration: none">Terms and Conditions </a>
<a href="/stories" class="btn-link nav-link-foot" style="text-decoration: none">Privacy Policy </a>
</div>
</div> --}}