<div>
    <h1>Welcome to the Story Portal!</h1>
</div>

<div class="account-info">
    <div class="section-title">
    <h2>SEE ACCOUNT DETAILS</h2>
    </div>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
    <button> <a href="/users/account">GO TO ACCOUNT</a></button>
</div>

<div class="account-info">
    <div class="section-title">
    <h2>VIEW ALL STORIES</h2>
    </div>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
    <button> <a href="/stories/index">GO TO STORIES</a></button>
</div>

<div class="account-info">
    <div class="section-title">
    <h2>VIEW YOUR STORY</h2>
    </div>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
    <button> <a href="/stories/edit">GO TO STORY</a></button>
</div>
