<div class="page-info">
<div class="container-info">
<img src="/images/logo.png" class="logo" alt="">
<img src="/images/tagline.png" class="tagline" alt="">

<form action="/signup/{{theUser._id}}" method="POST" class="apply-container">
    <div class="login-column">
        <div class="section-title">
        <span class="page-title">Parent Information</span>
        </div>
        <label for="" class="label-full">Full Name </label>
        <input type="text" name="parentName" placeholder="John Doe" class="apply-input" value={{theUser.parentName}}>
        <label for="" class="label-full">Location </label>
        <input type="text" name="familyLocation" placeholder="Miami, FL" class="apply-input">
        <label for="" class="label-full">Username </label>
        <input type="text" name="username" placeholder="username" class="apply-input">
        <label for="" class="label-full">Password </label>
        <input type="text" name="password" placeholder="********" class="apply-input">
    </div>
    <hr>
    <div class="login-column">
        <div class="section-title">
        <span class="page-title">Child Information</span>
        </div>
        <label for="" class="label-full">Full Name </label>
        <input type="text" name="childName" placeholder="Jane Doe" class="apply-input" value={{theUser.childName}}>
        <label for="" class="label-full">Age </label>
        <input type="number" name="childAge" placeholder="0" class="apply-input">
        <label for="" class="label-full">Eye Condition </label>
            <select name="childCondition" class="apply-input">
                <option value="">Select One</option>
                <option value="microphthalmia">Microphthalmia</option>
                <option value="anophthalmia">Anophthalmia</option>
                <option value="cornealulcer">Corneal Ulcer</option>
                <option value="glaucoma">Glaucoma</option>
                <option value="retinoblastoma">Retinoblastoma</option>
                <option value="damage">Injury/Damage</option>
                <option value="other">Other</option>
            </select>
        <label for="" class="label-full">Affected Eye </label>
            <select name="childEye" class="apply-input">
                <option value="">Select One</option>
                <option value="right">Right</option>
                <option value="left">Left</option>
                <option value="both">Both</option>
            </select>
    </div>
    <hr>
        <div class="checkboxes">
        <p class="p-sm"><input type="checkbox" name="tandc" id="tandc" value="true" class="box"><label for="tandc"> I agree to the <a href="/tandc">Terms and Conditions.</a></label></p>
        </div>
        <div class="checkboxes">
        <p class="p-sm"><input type="checkbox" name="pp" id="pp" value="true" class="box"><label for="tandc"> I agree to the <a href="/pp">Privacy Policy.</a></label></p>
        </div>
        <a href="/" class="btn-link" style="text-decoration: none"><button class="btn btn-dark btn-block">Complete Signup!</button></a>
        <p class="p-sm"><a href="/">Back to Home</a></p>
</div>
</div>
</form>

{{#if errorMessage}}
    {{errorMessage}}
{{/if}}
